* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--second-color);
  color: var(--text-color)
}

:root {
  --first-color: #4F46E5;
  --second-color: #a8bee7;
  --hover-color: #2e27b3;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --p-font-size: 1rem;

}


h1 {
  font-family: 'Montserrat-ExBold';
}

h2,
h3,
a {
  font-family: 'Montserrat-Bold';
}

p {
  font-family: 'Montserrat';
}

.cadaster-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100dvh;
  width: 100%;
  padding: 20px;
}


img {
  display: inline-block;
  width: 90px;
  border-radius: 50px;
  margin-bottom: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.466);
}

.cadaster-box {
  background: #ffffff;
  border-radius: 12px;
  padding: 35px;
  max-width: 400px;
  max-height: 750px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.466);
  text-align: center;
}

.cadaster-box h1 {
  color: var(--first-color);
  margin-bottom: 40px;
}

.cadaster-box h3 {
  color: var(--first-color);
  margin: 0;
}


.cadaster-box p {
  font-size: 15px;
  color: var(--text-color);
  font-weight: 700;
}

.cadaster-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  text-align: left;
}

/*   Eye password  */

.senha-group {
  text-align: left;
}
.senha-wrapper {
    position: relative;

}

.senha-wrapper input {
    width: 100%;
    padding-right: 40px; 
}

.senha-wrapper .eye {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--hover-color);
    font-size: 18px;
}


#ocultar,
#confirm-ocultar {
  display: none;
}





label {
  font-weight: 700;
  color: var(--first-color);
  display: block;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border 0.3s ease;
}

input:focus {
  outline: none;
  border-color: var(--first-color);
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

button[type="submit"] {
  background: var(--first-color);
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 191, 255, 0.4);
  background: var(--hover-color);
}

.back-text a {
  color: var(--first-color);
  text-decoration: none;
  font-weight: 500;
}

.back-text a:hover {
  color: var(--hover-color);
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
  display: block;
}


.sucesso {
  color: #28a745;
}

.erro {
  color: #dc3545;
}





/* Responsividade */

@media (max-width: 480px) {
  .cadaster-container {
    align-items: flex-start;
    padding-top: 10px;
  }

  .cadaster-box {
    max-width: 95%;
    padding: 25px;
  }

  .cadaster-box h1 {
    font-size: 1.4rem;
  }

  .cadaster-box p {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  input {
    font-size: 14px;
    padding: 10px;
  }

  button[type="submit"] {
    font-size: 15px;
    padding: 10px;
  }
}

@media (min-width: 500px) and (max-width: 1400px) {
  .cadaster-container {
    align-items: flex-start;
    padding-top: 10px;
  }

  .cadaster-box {
    max-height: 80%;
    padding: 30px;
    max-width: 380px;
  }
}

/* Nest Hub – 1024x600 */
@media (width: 1024px) and (height: 600px) {

  .cadaster-container {
    padding: 10px 10px;
    align-items: flex-start;
  }

  .cadaster-box {
    max-width: 340px;
    padding: 25px;
    max-height: 580px;
  }

  .cadaster-box h1 {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }

  .cadaster-box p {
    font-size: 0.85rem;
    margin: 15px 0;
  }

  .cadaster-box h3 {
    font-size: 1.1rem;
  }

  input {
    font-size: 14px;
    padding: 8px;
  }

  button[type="submit"] {
    padding: 10px;
    font-size: 15px;
  }

  img {
    width: 70px;
    margin-bottom: 15px;
  }
}
